%p#notice= notice

%p
  %b Sender:
  - @message.sender_id
  =@sender_details.name
%p
  %b Receiver:
  - @message.receiver_id
  =@receiver_details.name
%p
  %b Subject:
  = @message.subject
%p
  %b Content:
  = @message.content

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
