.container-fluid
  .row.sessions-new
    .col-s-2.col-md-4
    .col-xs-12.col-s-8.col-md-4.log_in_box
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true
        .field
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: "off"
        - if devise_mapping.rememberable?
          .field.remember-me
            = f.check_box :remember_me
            = f.label :remember_me
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot-password muted"
            %br/
        .actions
          = f.submit "Log in", :class =>"btn btn-primary btn-block"
      .clearfix.visible-xs-block
      .col-s-2.col-md-4
      = render "devise/shared/links"


