%p#notice= notice

%p
  %b Title:
  = @ride.title
%p
  %b Distance:
  = @ride.distance
%p
  %b longitude:
  = @ride.longitude
%p
  %b Latitude lng:
  = @ride.latitude
%p
  %b Address:
  = @ride.address
%p
  %b Skill:
  = @ride.skill
%p
  %b Status:
  = @ride.status

= link_to 'Edit', edit_ride_path(@ride)
\|
= link_to 'Back', rides_path
