%h1 Listing locations

%table
  %tr
    %th Latitude
    %th Longitude
    %th Address
    %th Title
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.latitude
      %td= location.longitude
      %td= location.address
      %td= location.title
      %td= link_to 'Show', location
      %td= link_to 'Edit', edit_location_path(location)
      %td= link_to 'Destroy', location, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Location', new_location_path
%div{:style => "width: 800px;"}
  #map{:style => "width: 800px; height: 400px;"}
:javascript
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(#{raw @hash.to_json});
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
